#main-section{
  /* background-color: #f4f1f8; */
  padding : 30px 0px  ;
}

#demo-uploadfile-wrap{
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-evenly;
}

#nav-main-wrap{
  height: 100vh;
}

#demo-div{
  width: 400px;
}

#demo-div img{
  width: 100%;
}

