.custom-frame-container {
    display: flex;
    flex-direction: column;
    gap: 20px;
    padding: 20px;
}

.frame-item {
    display: flex;
    align-items: center;
    gap: 20px;
    padding: 20px;

}

.frame-item:nth-child(odd) {
    flex-direction: row-reverse;
}

.frame-video-container {
    width: 500px;
    height: auto;
    overflow: hidden;
}

.frame-video {
    width: 100%;
    height: auto;
    border-radius: 10px;
}

.frame-image {
    width: 100%;
    height: auto;
    border-radius: 10px;
}

.frame-text {
    max-width: 500px;
    color :white ;
}

.frame-text h2 {
    font-size: 50px;
    margin-bottom: 10px;
}

.frame-text p {
    font-size: 24px;
}